---
import Layout from "../layouts/Layout.astro";
import { db, Linkdump } from "astro:db";
import { actions } from "astro:actions";

const linkdump = await db.select().from(Linkdump);
---

<Layout>
  <h1>read later</h1>
  <form method="POST" action={actions.addUrl}>
    <input type="url" name="url" placeholder="URL" required />
    <button type="submit">Add</button>
  </form>
  <ul>
    {
      linkdump.map(({ id, url }) => (
        <li class="flex gap-2">
          <a href={url}>{url}</a>
          <form method="POST" action={actions.deleteUrl}>
            <input type="hidden" name="id" value={id} />
            <button type="submit">Delete</button>
          </form>
        </li>
      ))
    }
  </ul>
</Layout>
